
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 0; 
    background-color: #f4f4f4;
    color: #333;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #575757;
}

#hero {
    padding: 50px 20px;
    text-align: center;
    min-height: 800px; 
}

#info-section {
    padding: 50px 20px;
    text-align: center;
    min-height: 400px; 
}

.cuadros {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
    margin-top: 30px; 
}

.card {
    width: 280px; 
    background: transparent; 
    border: none; 
    padding: 15px;
    text-align: center;
}

.card img {
    max-width: 100px; 
    height: auto;
    margin-bottom: 15px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.card-text {
    font-size: 0.9em;
    line-height: 1.6;
    color: #555;
}


@media (max-width: 768px) {
    .cuadros {
        flex-direction: column; 
        align-items: center;
    }

    .card {
        width: 90%; 
        max-width: 350px; 

    }
}

